*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif; 
}

section{
    padding: 20px;
}

/* / layout rules / */

.container{
    max-width: 600px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-direction: column;
}

.col-double, .col-30, .col-50, .col-60, .col-40, .col-100{
    width: calc(100% - 20px);
    /* / height: 300px;
    background-color: red;  */
    margin: 10px;
}

.text-center{
    text-align: center;
}

.extended-menu{
    display: none;
}

.flex{
    display: flex;
    flex-direction: column;
}

.violet{
    background-color: #9792e4;
}

.black{
    background-color: #222;
}

.white{
    background-color: white;
}

header, .button-blu{
    background-color: #0084fd;
}

/* / INIZIO HEADER / */

.header-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 0 10px;
}

.caratteristiche-link{
    padding-left: 20px;
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.button-header{
    margin-left: 20px;
}

.button-white{
    background-color: white;
    border: none;
    border-radius: 20px;
    padding: 8px 15px;
}
/* FINE HEADER */

/* INIZIO MAIN */

/* SEZIONE 1 */
.sfondo{
    background-color: #b5ddff;
    border-radius: 20px;
}

.col-30, .col-double{
    padding: 20px 20px 0 20px;
    text-align: center;
}

.h2-section1-blu{
    font-size: 20px;
    color: #0084fd;
    text-align: left;
    margin: 20px 0;
}

.button-blu{
    padding: 10px 50px;
    border-radius: 20px;
    border: none;
    color: #fff;
    text-align: left;
    font-size: 16px;
    margin: 20px 0;
}

.left-content{
    padding-left: 20px;
}

.left-content p{
    display: flex;
    line-height: 1.5;
    font-size: 18px;
    text-align: left;
    margin: 20px 0;
    color: #5a6e7f;
}

.right-content img{
    max-width: 100%;
    margin-bottom: -5px;
}

.icon i{
    color: #0084fd;
    font-size: 80px;
    margin: 40px 0;
}

.text .title{
    font-size: 22px;
    color: #0084fd;
    text-align: center;
    margin: 20px 0;
}

.text p{
    font-size: 16px;
    text-align: center;
    color: #5a6e7f;
    margin: 20px 0;
    line-height: 1.5;
}
/* FINE SEZIONE 1 */

/* SEZIONE 2 */
.sez2img img{
    max-width: 100%;
}

.text2 h3{
    color: #fff;
    font-size: 25px;
    margin: 50px 0;
}

.text2 p{
    font-size: 18px;
    color: #fff;
    line-height: 1.6;
    font-weight: 300;
}

.col-50.dev {
    max-width: 100%;
    border-radius: 40px;
    background-color: #fff;
    padding: 35px;
}

.dev-img img{
    max-width: 100%;
}

.text-dev h3{
    font-size: 25px;
    text-align: center;
    margin: 20px 0;
}

.text-dev p {
    font-size: 16px;
    font-style: italic;
    text-align: center;
    line-height: 1.5;
    font-weight: 300;
}

.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-dev .arrow i{
    display: flex;
    background-color: #9792e4;
    font-size: 20px;
    padding: 20px 20px;
    border-radius: 50%;
    margin-top: 25px;
    justify-content: center;
}
/* FINE SEZIONE 2 */

/* INIZIO SEZIONE 3 */
.col-100 h5{
    text-align: center;
    font-size: 16px;
    font-weight: 100;
    padding: 20px 0;
}

.col-100 h2{
    text-align: center;
    font-size: 30px;
    padding: 10px 0;
    color: #9792e4;
}

.col-100 p {
    font-size: 20px;
    text-align: center;
    line-height: 1.5;
    font-weight: 400;
    padding: 20px 0;
}

.col-100.violet{
    max-width: 100%;
    border-radius: 40px;
    background-color: #9792e4;
    padding: 35px;
}

.img-testimonial{
    display: block;
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0px auto;
}

.text-testim i{
    color: #fff;
    font-size: 22px;
}

.text-testim p{
    margin-top: 10px;
    color: #fff;
    font-size: 18px;
    line-height: 1.5;
    padding: 20px 20px;
}

.text-testim h4{
    color: #fff;
    font-size: 18px;
    margin: 20px 0;
    text-align: center;
}
/* FINE SEZIONE 3 */

/* SEZIONE 4 */
    
/* FINE SEZIONE 4 */
.container-sez4{
    max-width: 100%;
    background-color: #9792e4;
}

.col-100 #sez4{
    color: #fff;
    font-size: 30px;
    font-weight: 700;
}

.col-100.white{
    max-width: 100%;
    border-radius: 40px;
    background-color: #fff;
    padding: 35px;
}

.text-benef h1{
    color: #9792e4;
    font-size: 50px;
    font-weight: 700;
}

.text-benef h2{
    color: #9792e4;
    font-size: 25px;
    font-weight: 700;
    text-align: left;
}

.text-benef p{
    color: #000;
    font-size: 16px;
    line-height: 1.7;
    font-weight: 200;
    text-align: left;
}

/* STYLE BUTTON SEZ 4 */
.button-purple{
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background-color: #9792e4;
    border: none;
    border-radius: 20px;
    padding: 8px 50px;
}
/* FINE STYLE BUTTON SEZ 4 */

/* INIZIO SEZIONE 5 */
.col-60 h1{
    font-size: 40px;
    color: #9792e4;
    margin-top: 50px;
    margin-bottom: 30px;
}

.col-60 p{
    line-height: 2;
    font-size: 18px;
    font-weight: 300;
}

.col-60 p#part2{
    padding-top: 40px;
    margin-bottom: 30px;
}

.col-100 .img-about{
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: auto 0;
}

.text-about h1{
    color: #9792e4;
    font-size: 33px;
    font-weight: 600;
    padding: 20px 0;
    line-height: 1.5;
}

.col-100 i#About{
    position: absolute;
    left: 52%;
    font-size: 85px;
    color: #9792e4;
}

/* STYLE BOTTONE LINKEDIN */
.btn-linkedin{
    font-size: 15px;
    color: #fff;
    background-color: #9792e4;
    border: none;
    border-radius: 20px;
    padding: 7px 18px;
}
.btn-linkedin i{
    color: #fff;
    margin-right: 10px;
}
/* FINE SEZIONE 5 */

/* INIZIO SEZIONE 6 */
.col-100.getstart p{
    margin-top: 10px;
    color: #fff;
    font-size: 18px;
    line-height: 1.5;
    padding: 20px 20px;
}

.col-100.getstart h5{
    margin-top: 10px;
    color: #cbc9f1;
    font-size: 18px;
    line-height: 1.5;
    padding: 20px 20px;
}

.col-100.getstart h2{
    text-align: center;
    font-size: 30px;
    padding: 15px 0;
    color: #fff;
}

.col-100.getstart h1{
    text-align: center;
    font-size: 60px;
    padding: 20px 0;
    color: #fdc15f;
}

.col-100.getstart p{
    margin-top: 10px;
    color: #fff;
    font-size: 17px;
    line-height: 1.7;
    padding: 20px 9px;
}

.col-100.getstart button{
    display: flex;
    justify-content: center;
}

.btn-start{
    font-size: 16px;
    color: #9792e4;
    background-color: #fff;
    border: none;
    border-radius: 80px;
    padding: 20px 80px;
    margin: 0 auto;
}

.col-100.getstart p a{
    text-decoration: underline;
}

.col-100.getstart p i{
    font-size: 5px;
    vertical-align: middle;
}
/* FINE SEZIONE 6 */

/* / FINE MAIN / */

/* INIZIO FOOTER */
    .col-100#foot{
        color: #fff;
        font-size: 14px;
    }

    .col-100#foot p{
        color: #fff;
        font-size: 13px;
    }

    .col-100#foot a, .col-100#foot p#creator{
        color: #9792e4;
        text-decoration: underline;
    }

    p#final{
        font-size: 15px;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    p#creator{
        font-size: 15px;
        margin: 0 auto;
        padding: 0 0;
    }
/* FINE FOOTER */


/* MEDIA QUERY */
    /* / TABLET / */
    @media screen and (min-width: 768px) {
        .container{
            max-width: 750px;
        }

        .content{
            flex-direction: row;
        }

        .row{
            flex-direction: row;
            flex-wrap: wrap;
        }

        .col-double{
            width: calc(100% / 3 * 2 - 20px);
        }

        .col-30{
            width: calc(100% / 3 - 20px);
        }

        #benefits .col-30{
            width: calc(100% / 2 - 20px);
        }

        .col-60{
            width: calc(60% - 20px);
        }

        .col-40{
            width: calc(40% - 20px);
        }
    }

    @media screen and (min-width: 991px) {
        .container{
            max-width: 950px;
        }

        .extended-menu{
            display: block;
        }

        .hamburger-menu{
            display: none;
        }
        #benefits .col-30{
            width: calc(100% / 3 - 20px);
        }

        .col-50{
            width: calc(50% - 20px);
        }

    }

    @media screen and (min-width: 1200px) {
        .container{
            max-width: 1140px;
        }

    }
/* FINE MEDIA QUERY */