*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* LAYOUT RULES */
    .container{
        max-width: 600px;
        margin: 0 auto;
    }

    *.row{
        display: flex;
        flex-direction: column;
        width: 70%;
        margin: 0 auto;
        background-color: yellow;
    }

    .col-double, .col-30{
        width: calc(100% - 20px);
        margin: 10px;
    }

    .header-flex{
        justify-content: space-between;
        display: flex;
    }

    .left-logo, .right-menu {
        width: 100%;
    }

    .hamburger-menu, .extended-menu{
        width: 100%;
    }

    .extended-menu {
        display: none;
    }

    .flex {
        display: flex;
        flex-direction: column;
    }

    .content {
        border-radius: 20px;
    }

    .content div{
        padding: 10px;
    }

    .container.sez1, .container.sez3, .container.sez5{
        background-color: #fff;
        max-width: 100%;
        height: 500px;
    }

    .container.sez2, .container.sez4, .container.sez6{
        background-color: #9792e4;
        max-width: 100%;
        height: 500px;
    }
/*  FINE LAYOUT RULES */

/* STYLE HEADER */
    .header-blue{
        width: 100%;
        background-color: #0084fd;
    }

    .left-logo img{
        width: 75px;
        padding: 15px 0;
    }

    ul{
        list-style-type: none;
    }

    .hamburger-menu i{
        display: flex;
        width: 100%;
        color: #fff;
        justify-content: right;
        padding-top: 35px;
    }

    .extended-menu li{
        display: inline-block;
        justify-content: center;
        font-size: 18px;
        color: #fff;
        padding: 0 10px;
        padding-top: 25px;
    }

    .btn {
        background-color: #fff;
        padding: 10px 13px;
        font-size: 16px;
        color: black;
        border-radius: 20px;
    }

/* FINE STYLE HEADER */

/* STYLE SEZIONE DEMO APPLICATION */

    .row.sez1 {
        display: flex;
        justify-content: center;
    }

    .col-double.sez1, .col-30 {
        background-color: #b5ddff;
        border-radius: 20px;
    }

    .right-content img {
        width: 100%;
    }

/* FINE STYLE SEZIONE DEMO APPLICATION */

/* INIZIO STYLE STRATEGY */
    .col-50{
        width: calc(100% / 2 - 10px);
        margin: 20px;
        display: flex;
        justify-content: center;
        height: 500px;
        background-color: green;
    }


/* FINE STYLE STRATEGY */





/* INIZIO STYLE FOOTER */
    .container.foot{
        background-color: #333333;
        height: 200px;
    }
/* FINE STYLE FOOTER */
/* MEDIA QUERY */

    /* TABLET */
    @media screen and (min-width: 768px){
        .container{
            max-width: 750px;
        }

        .row{
            flex-direction: row;
            flex-wrap: wrap;
        }

        .col-double{
            width: calc(100 / 3 * 2 - 20px);
        }

        .col-30{
            width: calc(100 / 3 - 20px);
        }

        .content{
            flex-direction: row;
        }
    }

    /* DESKTOP */
    @media screen and (min-width: 991px){
        .container {
            max-width: 950px;
        }

        .extended-menu{
            display: block;
        }

        .hamburger-menu {
            display: none;
        }
    }

    /* LARGE DESKTOP */
    @media screen and (min-width: 1200px){
        .container {
            max-width: 1140px;
        }
    }
/* FINE MEDIA QUERY */